@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&family=Playfair+Display:ital,wght@0,500;0,600;1,400;1,500&family=Poppins&family=Roboto+Slab:wght@200;300;400&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;    
}
.home-view{
    font-weight: 500;
    font-size: 16px;
    color: #4338CA;
    font-weight: 500;
}
.report-pro{
    font-size: 16px;
    line-height: 19px;
    color: #000;
    font-weight: 500;
}
.report-on{
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #9E0059;    
}
.view-all{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;    
    color: #000;
    background: linear-gradient(0deg, rgba(99, 102, 241, 0.08), rgba(99, 102, 241, 0.08)), #FFFFFF;
    border-radius: 4px;
    /* padding: 10px; */
}
.submit1{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #9E0059;
    text-decoration: none;
    background: linear-gradient(0deg, rgba(99, 102, 241, 0.08), rgba(99, 102, 241, 0.08)), #FFFFFF;
    border-radius: 4px;
    /* padding: 10px; */
}
.download-report{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #4338CA;
    text-decoration: none;
    background: linear-gradient(0deg, rgba(99, 102, 241, 0.08), rgba(99, 102, 241, 0.08)), #FFFFFF;
    border-radius: 4px;
    /* padding: 10px; */
}
.ring-road{
    background: linear-gradient(0deg, rgba(99, 102, 241, 0.08), rgba(99, 102, 241, 0.08)), #FFFFFF;
    border: 0.5px solid darkgrey;
    border-radius: 4px;
    padding: 15px 10px;
    display: flex;
}
.project-2022{
    font-family: 'poppins';
    font-weight: 500;
    font-size: 24px;
}
.text1{
    font-weight: 400;
    font-size: 16px;
    color:darkgrey;
}
.r12{
    color: rgba(0, 0, 0, 0.56);
    font-size: 14px;
}
.mj{
    font-weight: 500;
    font-size: 16px;
}
.posted3{
    font-weight: 400;
    font-size: 14px;
    color: #BDBDBD;
}
.likes{
    font-weight: 500;
    font-size: 16px;
    color: #4338CA;
}
.unlikes{
    font-weight: 500;
    font-size: 16px;
    color: rgba(243, 86, 76, 1);
    border-left: 1px solid darkgrey
}
.first-one{
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(79, 70, 229, 0.3);
    border-radius: 4px;
    width: 70%;
    float: right;
}
.title{
    font-weight: 500;
    font-size: 14px;
    color: #828282;
}
.date{
    font-weight: 500;
    font-size: 16px;
    color: #000;
}
.human{
    width: 88px;
    height: 68px;
    border-radius: 4px;
}
.complete{    
    color:rgba(7, 202, 120, 1);
    padding: 4px 12px;
    background: linear-gradient(0deg, rgba(7, 202, 120, 0.12), rgba(7, 202, 120, 0.12)), #FFFFFF;
    border: 1px solid #07CA78;
    border-radius: 4px;
    font-family: 'poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 135%;
}
.good{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}